body{
    direction: rtl;
}
.card{
    width: 21rem !important;
    height: 33rem !important;
}
.mycard img{
    height: 14rem !important;
}
.search-box{
    height: auto !important;
    width: auto !important;
}