body{
    direction: rtl;
}
.mycard{
    width: 21rem !important;
    height: 33rem !important;
}
.mycard img{
    height: 14rem !important;
}
.search-box{
    height: auto !important;
    width: auto !important;
}
.slider-image img{
    width: 100%;
    /* height: 500px; */
    height:500px;
}
@media (max-width: 600px) {
    .slider-image img{
        height:270px ;
    }
}
