body{
    direction: rtl;
}
.card{
    width: 21rem !important;
    height: 33rem !important;
}
.mycard img{
    height: 14rem !important;
}
#btn-search{
    /* height: fit-content !important; */
}
#search-box{
    height: auto !important;
}